.heading__container{
    width: 90%;
    margin: 60px auto;
    position: relative;
    text-align: left;
}
.heading__container h1, .heading__container p{
    color: gray;
    letter-spacing: 2px;
    font-weight: 400;
}
.heading__container p{
    font-size: 18px;
}
.heading__container h1{
    font-size: 45px;
    
}